*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f6f9;
    font-family:Arial, sans-serif;
}

.container{
    width:80%;
    margin:20px auto;
    border:5px solid #0f766e;
    padding:10px;
    background:white;
}

header{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:40px;
    margin-bottom:10px;
}

header h1{
    font-size:48px;
}

.main{
    display:flex;
    gap:10px;
}

nav{
    width:15%;
    background:#0f766e;
    padding:20px;
}

nav a{
    display:block;
    color:white;
    text-decoration:none;
    margin-bottom:15px;
    font-size:20px;
}

.content{
    width:50%;
    border:3px solid #2563eb;
    padding:10px;
}

.image-box{
    width:180px;
    height:160px;
    background:#60a5fa;
    color:white;
    font-size:80px;
    display:flex;
    justify-content:center;
    align-items:center;
    float:left;
    margin-right:10px;
}

.content p{
    font-size:18px;
    line-height:1.6;
}

aside{
    width:35%;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#f97316;
    color:white;
}

th,td{
    border:1px solid #ccc;
    padding:10px;
}

tr:nth-child(even){
    background:#f3f4f6;
}

footer{
    margin-top:10px;
    background:#111827;
    color:white;
    text-align:center;
    padding:20px;
    font-size:22px;
}